.category-card {
  position: relative;
  overflow: hidden;
}

.category-card img {
  width: 100%;
  margin-top: 10px;
  height: auto;
}

.category-content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 15px;
  text-align: center;
}

.category-title {
  font-size: 30px;
  color: white;
}

.category-content .btn {
  font-size: 15px;
  text-transform: uppercase;
  padding: 10px;
  margin-bottom: 15px;
  display: inline-block;
}

.custom-img {
  width: 100%;
  height: auto;   /* height ঠিক রাখবে */
  display: block; /* নিচে ছোট gap থাকলে সেটা দূর করবে */
}